ProjecCapstone.json
[{"id":"20064701d3a0b77a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"0fee3614b90a582a","type":"mqtt in","z":"20064701d3a0b77a","name":"","topic":"Materiales/Construccióon/Civil/1P-15A","qos":"2","datatype":"auto","broker":"aa1673ad.a67cb","x":290,"y":280,"wires":[["48ac82e4c286fe40","46aa5a089f4fab74"]]},{"id":"48ac82e4c286fe40","type":"debug","z":"20064701d3a0b77a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"9665736aa0b76b80","type":"comment","z":"20064701d3a0b77a","name":"Recepción de Datos del Sensor 1P-15A Q0215","info":"","x":220,"y":220,"wires":[]},{"id":"46aa5a089f4fab74","type":"function","z":"20064701d3a0b77a","name":"","func":"msg.payload = parseInt(msg.payload);\nglobal.set(\"unidades1\",msg.payload);//10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["f1e8368b.c203c8"]]},{"id":"0a10f41323564a0d","type":"mysql","z":"20064701d3a0b77a","mydb":"66b65566.fa3a24","name":"","x":1180,"y":220,"wires":[[]]},{"id":"40775e4804290eeb","type":"mqtt in","z":"20064701d3a0b77a","name":"","topic":"Materiales/Construccióon/Civil/3P-70A","qos":"2","datatype":"auto","broker":"aa1673ad.a67cb","x":284,"y":448,"wires":[["8a1c2e6755669ce0","8da23d52.9dbdc8"]]},{"id":"0c0b3ed300b9818f","type":"comment","z":"20064701d3a0b77a","name":"Recepción de Datos del Sensor 3P-70A Q0370","info":"","x":260,"y":360,"wires":[]},{"id":"8a1c2e6755669ce0","type":"debug","z":"20064701d3a0b77a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":544,"y":548,"wires":[]},{"id":"2f391da1a9ecae8f","type":"function","z":"20064701d3a0b77a","name":"","func":"msg.to = global.get (\"Correo_Proveedor\");\nmsg.topic = \"Diagnostico COVID\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":700,"wires":[["8ca55ca169117c37"]]},{"id":"5109476691aabb3c","type":"function","z":"20064701d3a0b77a","d":true,"name":"","func":"global.set (\"Correo_Proveedor\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":760,"wires":[[]]},{"id":"e7175c3b33bc094b","type":"function","z":"20064701d3a0b77a","d":true,"name":"","func":"msg.to = global.get (\"Correo_Proveedor\");\nmsg.topic = \"Diagnostico COVID\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":700,"wires":[["7388cc580f7438b8"]]},{"id":"7cb9379d10c2aa80","type":"ui_text_input","z":"20064701d3a0b77a","d":true,"name":"","label":"Correo electronico","tooltip":"Correo electronico","group":"742a830a59776c3e","order":2,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":760,"wires":[["5109476691aabb3c"]]},{"id":"9ffb471c0170fb15","type":"ui_button","z":"20064701d3a0b77a","d":true,"name":"","group":"742a830a59776c3e","order":1,"width":0,"height":0,"passthru":false,"label":"Hacer Inventario 1P-15A","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":700,"wires":[["2f391da1a9ecae8f"]]},{"id":"66e5703dc048bee3","type":"ui_button","z":"20064701d3a0b77a","d":true,"name":"","group":"742a830a59776c3e","order":1,"width":0,"height":0,"passthru":false,"label":"Hacer Inventario 3P-70A","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":700,"wires":[["e7175c3b33bc094b"]]},{"id":"e9baba30efead2a6","type":"telegrambot-notify","z":"20064701d3a0b77a","name":"Notificación","bot":"8af81663e64c52f3","chatId":"-1001709145655","message":"","parseMode":"","x":1184,"y":508,"wires":[]},{"id":"8ca55ca169117c37","type":"e-mail","z":"20064701d3a0b77a","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1270,"y":700,"wires":[]},{"id":"7388cc580f7438b8","type":"e-mail","z":"20064701d3a0b77a","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":670,"y":700,"wires":[]},{"id":"8bc826c4.ea60c8","type":"function","z":"20064701d3a0b77a","name":"","func":"msg.topic = \"INSERT INTO IdentificadorMovimiento(idProducto,existencia) VALUES (1,'\"+parseInt(global.get(\"unidades1\"))+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":220,"wires":[["0a10f41323564a0d"]]},{"id":"5c97f619.f6354","type":"function","z":"20064701d3a0b77a","name":"","func":"if (parseInt(global.get(\"unidades1\")) < 6)\n{\n    \n    msg.payload = \"ALERTA, QUEDAN MUY POCAS UNIDADES del producto 1P-15A \\nPuedes consultar las gráficas aquí: http://etesting.azc.uam.mx:3000/d/85LED2Ynk/monitoreo-producto-1?orgId=1&from=1646367141053&to=1646439035037\\n\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":280,"wires":[["27916aa0.88f096"]]},{"id":"27916aa0.88f096","type":"telegrambot-notify","z":"20064701d3a0b77a","name":"Notificación","bot":"8af81663e64c52f3","chatId":"-1001709145655","message":"","parseMode":"","x":1170,"y":280,"wires":[]},{"id":"bd3d4f9d.15e858","type":"mysql","z":"20064701d3a0b77a","mydb":"66b65566.fa3a24","name":"","x":1194,"y":448,"wires":[[]]},{"id":"8df5f38e.096068","type":"function","z":"20064701d3a0b77a","name":"","func":"if (parseInt(global.get(\"unidades2\")) < 2)\n{\n    \n    msg.payload = \"ALERTA, QUEDAN MUY POCAS UNIDADES del producto 3P-70A\\nPuedes consultar las gráficas aquí: http://etesting.azc.uam.mx:3000/d/DN9YXhYnk/monitoreo-producto-2?orgId=1&from=1646367141053&to=1646439035037\\n\";\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":974,"y":508,"wires":[["e9baba30efead2a6"]]},{"id":"1b009d50.ea5b23","type":"function","z":"20064701d3a0b77a","name":"","func":"msg.topic = \"INSERT INTO IdentificadorMovimiento(idProducto,existencia) VALUES (2,'\"+parseInt(global.get(\"unidades2\"))+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":964,"y":448,"wires":[["bd3d4f9d.15e858"]]},{"id":"8da23d52.9dbdc8","type":"function","z":"20064701d3a0b77a","name":"","func":"msg.payload = parseInt(msg.payload);\nglobal.set(\"unidades2\",msg.payload);//10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":574,"y":448,"wires":[["e435b687.c2916"]]},{"id":"f1e8368b.c203c8","type":"delay","z":"20064701d3a0b77a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":280,"wires":[["5c97f619.f6354","8bc826c4.ea60c8"]]},{"id":"e435b687.c2916","type":"delay","z":"20064701d3a0b77a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":774,"y":448,"wires":[["8df5f38e.096068","1b009d50.ea5b23"]]},{"id":"aa1673ad.a67cb","type":"mqtt-broker","name":"","broker":"18.195.132.243","port":"1883","clientid":"rbSICraspi23","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"66b65566.fa3a24","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"MonitoreoMat","tz":"","charset":"UTF8"},{"id":"742a830a59776c3e","type":"ui_group","name":"Proveedor","tab":"7df09f7b85996c89","order":2,"disp":true,"width":"6","collapse":false},{"id":"8af81663e64c52f3","type":"telegrambot-config","botname":"Monitoreo de Materiales en Construcción: Celdas","usernames":"","chatIds":"","pollInterval":"300"},{"id":"7df09f7b85996c89","type":"ui_tab","name":"Reporte de Inventario","icon":"dashboard","disabled":false,"hidden":false}]